{% extends "atletas/base.html" %}

{% block content %}

<div class="container is-max-desktop">


    <section class="section">

    <form method="POST">
        {% csrf_token %}

    <div class="columns is-desktop is-centered">
        <div class="column is-half">
            <div class="field">
                <p class="control">
                    <label class="label">Anterior contraseña</label>
                    <input class="input" type="password" name="old_password" required>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <label class="label">Nueva contraseña</label>
                    <input class="input" type="password" name="new_password" required>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <label class="label">Repetir nueva contraseña</label>
                    <input class="input" type="password" name="new_again_password" required>
                </p>
            </div>

            <div class="block"></div>

            <div class="columns">
                <div class="column">
                    {% if messages %}
                        {% for message in messages %}
                    <article class="message is-{{ message.tags }}">
                        <div class="message-body">
                          {{ message }}
                        </div>
                    </article>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="column">
                    <div class="buttons has-addons is-right mt-2"> 
                        <button class="button is-success is-rounded" type="submit">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </form>

    </section>


</div>

{% endblock %}